services:
  mysql:
    image: mysql:9.2.0
    environment:
      MYSQL_ROOT_PASSWORD: 'app'
      MYSQL_DATABASE: app
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
  adminer:
    image: adminer:5.4.1
    ports:
      - "8081:8080"
    environment:
      ADMINER_DEFAULT_SERVER: "mysql"
      ADMINER_DESIGN: "pepa-linha"
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"    
volumes:
  mysql_data: